PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=cambiar_por_tu_clave_postgres
DB_NAME=gestion_proyectos
DB_LOGGING=true
SWAGGER_HABILITADO=true
JWT_SECRET=cambiar_por_una_clave_larga_y_aleatoria
